<h1>Tasks list</h1>
<br>
<% @tasks.each do |task| %>
  <div class="row">
    <%= link_to task.title, task_path(task.id) %>
    <%= link_to "Delete", task_path(task.id), method: :delete %>
  </div>
  <br>
<% end %>

<%= link_to "Add a new task", new_task_path %>
